.clickable-row{
  cursor: pointer;
}
.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}
.scrollable {
    max-height: 20%;
    overflow-y: auto;
}
.carousel-control.left{
  background-image: none;
}
.carousel-control.right{
  background-image: none;
}
.carousel-control{
  color: #000;
}
