{% extends "base.html" %}
{% from "_forms.html" import render_field %}
{% set sort_on = request.args.sort_on|default('surname') %}

{% block content %}
<form class="form-inline">
  <div class="form-group">
    <label >Sort By:</label>
    {{ form.sort_on()|safe }}
  </div>
  <div class="form-group">
    <input type="submit" value="Sort">
  </div>
</form>
<table class="table table-bordered table-hover table-responsive">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Surname</th>
      <th>Lodge</th>
      <th>Phone Number</th>
    </tr>
  </thead>
  <tbody>
  {% for beaver in beavers|sort(attribute=sort_on) %}
    <tr class="clickable-row" data-href="/beavers/{{beaver.id}}">
      <td>
        {{ beaver.first_name }}
      </td>
      <td>
        {{ beaver.surname }}
      <td>
        {{ beaver.lodge.name }}
      </td>
      <td>
        {{ beaver.contacts[0].phone_number}}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
